<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myshoppingproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myshoppingproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myshoppingproject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myshoppingproject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShopingContext" Order="1" Enabled="False">
          <Destination Path="Data Source=44cc6874-d33a-48b3-8a50-a59200fb9198.sqlserver.sequelizer.com;Initial Catalog=db44cc6874d33a48b38a50a59200fb9198;User ID=jobnunazhacbmerz;Password=SWegTiSrZWQYzWkRrUdFu2pncivhpbQ68W8HfEppYUNbYjECXwUQfiKYFZeJVJbY" Name="Server=44cc6874-d33a-48b3-8a50-a59200fb9198.sqlserver.sequelizer.com;Database=db44cc6874d33a48b38a50a59200fb9198;User ID=jobnunazhacbmerz;Password=SWegTiSrZWQYzWkRrUdFu2pncivhpbQ68W8HfEppYUNbYjECXwUQfiKYFZeJVJbY;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShopingApp.Models.ShopingContext, ShopingApp" MigrationConfiguration="ShopingApp.Migrations.Configuration, ShopingApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShopingContext-Web.config Connection String">
      <ParameterValue>Server=44cc6874-d33a-48b3-8a50-a59200fb9198.sqlserver.sequelizer.com;Database=db44cc6874d33a48b38a50a59200fb9198;User ID=jobnunazhacbmerz;Password=SWegTiSrZWQYzWkRrUdFu2pncivhpbQ68W8HfEppYUNbYjECXwUQfiKYFZeJVJbY;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>